body{
    margin : 0;
    background-color: #f5f5ff;
}

.appBar{
    padding: 10px 0;
    background-color: #fff !important;
}

.content{
    padding: 20px;
}

.newsContainer{
    // background-color: blue;
    text-align: left;
}

.newsContainer>div{
    transition: all 0.2s ease;
    height: auto;
}

.filterBox{
    // background-color: crimson;
    text-align: left;
}

.remove{
    height: 0 !important;
    overflow: hidden;
}