body{
    margin : 0;
    background-color: #f5f5ff;
}

.appBar{
    padding: 10px 0;
    background-color: #fff !important;
}

.content{
    padding: 20px;
}

.newsContainer{
    // background-color: blue;
    text-align: left;
}

.filterBox{
    // background-color: crimson;
    text-align: left;
}